<html>
<head> <title> Award Certifications Page </title>

</head>
<body>
  <!--Compiled and minified CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!--jQuery CDN-->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

  <!--Compiled and minified JavaScript-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="css/main.css" rel="stylesheet">
  <body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="css/main.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html"><h2>OCFR</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Certifications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="certification.html">Modify Certifications</a>
          <a class="dropdown-item" href="awardCertification.html">Award Certifications to Members</a>
          <a class="dropdown-item" href="renewCertification.html">Renew Certifications for Members</a>
          <a class="dropdown-item" href="revokeCertification.html">Revoke Certifications from Members</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="members.html">Members</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="expiredCertifications.html">Members with Expired Certifications</a>
          <a class="dropdown-item" href="membersStationRadio.html">Members by Station & Radio Number</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<br>

<div id="memberCertificationsTable" class="container">

  <div class="filter">
    <select class="custom-select" v-model="filter.certificationName">
      <option value="">(all)</option>
      <option v-for="m in memberCertificates">{{ m.certificationName }}</option>
    </select>
  </div>
  <br>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Certification ID</th>
        <th>Certification Name</th>
        <th>Certifying Agency</th>
        <th>Certification Received</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="m in memberCertificates" v-if="filter.certificationName == '' || filter.certificationName == m.certificationName">
        <td>{{ m.memberID }}</td>
        <td>{{ m.firstName }}</td>
        <td>{{ m.lastName }}</td>
        <td>{{ m.certificationID }}</td>
        <td>{{ m.certificationName }}</td>
        <td>{{ m.certifyingAgency }}</td>
        <td>{{ m.certificationRecieved }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Dynamic Dropdown completed with assistance from: https://stackoverflow.com/questions/43193721/vue-js-dynamic-dropdown -->
<div id="updateMemberCertificationsTableApp" class="container">

  <!-- <select class="custom-select" v-model="memberCertificates.memberCertification">
    <option value="">71</option>
  </select> -->

  <!-- memberCertification -->
    <label for="memberID" class="col-sm-2 col-form-label">Member Certification</label>
    <div class="col-sm-10">
      <input type="string" class="form-control" id="memberID" placeholder="15" v-model="memberCertificate.memberCertification" readonly>
    </div>

  <!-- Dropdown for Members -->
  <select class="custom-select" v-model="memberCertificate.memberID">
    <option disabled value="">Select a Member</option>
    <option v-for="m in members">{{ m.memberID }} - {{ m.firstName }} {{ m.lastName }}</option>
  </select>
  <!-- Dropdown for Existing Certifications -->
  <select class="custom-select" v-model="memberCertificate.certificationID">
    <option disabled value="">Select a Certification</option>
    <option v-for="c in certificates">{{ c.certificationID}} - {{ c.certificationName }} / {{ c.certifyingAgency }}</option>
  </select>
  <!-- Date Certification Received -->
  <div class="form-group row">
    <label for="certificationReceived" class="col-sm-2 col-form-label">Certification Received</label>
    <div class="col-sm-10">
      <input type="string" class="form-control" id="certificationReceived" placeholder="2019-10-27" v-model="memberCertificate.certificationReceived">
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-success btn-block" @click="handleSubmit">Award Certification</button>
      </div>
    </div>

  </div>

  </div>


<br>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/memberCertificationsTable.app.js"></script>
<script src="js/updateMemberCertificationsTable.app.js"></script>

</body>
</body>
</html>
