<html>
<head> <title> Certifications Page </title>

</head>
<body>
  <!--Compiled and minified CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!--jQuery CDN-->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

  <!--Compiled and minified JavaScript-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="css/main.css" rel="stylesheet">
  <body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="css/main.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html"><h2>OCFR</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Certifications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="certification.html">Modify Certifications</a>
          <a class="dropdown-item" href="awardCertification.html">Award Certifications to Members</a>
          <a class="dropdown-item" href="renewCertification.html">Renew Certifications for Members</a>
          <a class="dropdown-item" href="membersStation.html">Revoke Certifications from Members</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="members.html">Members</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="expiredCertifications.html">Members with Expired Certifications</a>
          <a class="dropdown-item" href="membersStation.html">Members by Station</a>
          <a class="dropdown-item" href="membersRadio.html">Members by Radio Number</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- Certificates table with VueJS functionality -->
<div id="certificateTableApp" class="container">
    <!-- Jumbotron and table elements provided by Bootstrap -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Certifications Table</h1>
        <p class="lead">Current Firefighting Certifications based on State of GA Requirements</p>
      </div>
    </div>

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Certification ID</th>
          <th>Certification Name</th>
          <th>Certifying Agency</th>
          <th>Expiration Period (Years)</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="c in certificates" @click="handleRowClick(c)">
          <td>{{ c.certificationID }}</td>
          <td>{{ c.certificationName }}</td>
          <td>{{ c.certifyingAgency }}</td>
          <td>{{ c.expirationPeriod }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>

<!-- Certificate modification form with VueJS functionality -->
<div id="updateCertificateApp" class="container">

  <div class="alert alert-success" role="alert">
    <h2 class="alert-heading">Modify Certifications</h2>
    <p>Click on any certification above to update/delete</p>
    <hr>
    <p class="mb-0">Please click on "Clear Form" before Adding a New Certification</p>
  </div>

  <form>

    <div class="form-group row">
      <label for="memberID" class="col-sm-2 col-form-label">Certification ID</label>
      <div class="col-sm-10">
        <input type="string" class="form-control" id="memberID" placeholder="15" v-model="certificate.certificationID" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="memberID" class="col-sm-2 col-form-label">Certification Name</label>
      <div class="col-sm-10">
        <input type="string" class="form-control" id="memberID" placeholder="HAZMAT" v-model="certificate.certificationName">
      </div>
    </div>
    <div class="form-group row">
      <label for="memberID" class="col-sm-2 col-form-label">Certifying Agency</label>
      <div class="col-sm-10">
        <input type="string" class="form-control" id="memberID" placeholder="Athens Technical College" v-model="certificate.certifyingAgency">
      </div>
    </div>
    <div class="form-group row">
      <label for="memberID" class="col-sm-2 col-form-label">Expiration Period</label>
      <div class="col-sm-10">
        <input type="string" class="form-control" id="memberID" placeholder="11/10/2020" v-model="certificate.expirationPeriod">
      </div>
    </div>

    </form>

    <div class="container">

      <div class="row">
        <div class="col-12 col-sm-3">
          <button type="submit" class="btn btn-dark btn-block" @click="handleReset">Clear Form</button>
        </div>
        <div class="col-12 col-sm-3">
          <button type="submit" class="btn btn-success btn-block" @click="handleSubmit">Add Certification</button>
        </div>
        <div class="col-12 col-sm-3">
          <button type="submit" class="btn btn-primary btn-block" @click="handleUpdate">Update Certification</button>
        </div>
        <div class="col-12 col-sm-3">
          <button type="submit" class="btn btn-danger btn-block" @click="handleDelete">Delete Certification</button>
        </div>
      </div>

    </div>

</div>

<br>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/certificateTable.app.js"></script>
<script src="js/updateCertificate.app.js"></script>
<script src="js/memberCertificationsTable.app.js"></script>
<script src="js/updateMemberCertificationsTable.app.js"></script>

</body>
</body>
</html>
